@import 'bootstrap';
@import 'bootstrap/theme';
@import 'variables';
@import 'mixins';

@import 'listr';

body {
  background: teal;
  color: white;
}

a, a:hover {
  color: white;
  text-decoration: underline;
}
