<form class="form-group" {{action 'save' on='submit'}}>
  {{input class="form-control" value=list.title}}
  <button class="btn btn-warning btn-xs" type="submit">Edit?</button>
</form>

{{!-- {{yield}} --}}
